# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/buildproduction

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# files
package-lock.json
router.json
router-*.json
yarn.lock
/src/shared/bgs-component
build-id.json