.sidebar-view {
    padding: 8px 2px 50px 8px !important;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.8s;
    &:hover {
        scrollbar-color: black transparent;
    }
    &:not(:hover)::-webkit-scrollbar-thumb {
        background: transparent;
    }
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: transparent;
    }
    // &:hover::-webkit-scrollbar {
    //     width: 8px;
    //     height: 8px;
    //     background: transparent;
    // }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #c1c1c1;
    }

    a {
        text-decoration: none;
        color: #000;
    }
    .MuiButtonBase-root.MuiListItem-root,
    .MuiListItemButton-root {
        color: #0e7bb0;
        font-size: 14px;
        border-radius: 10px;
        .material-icons-round {
            color: #0e7bb0;
        }
        &:hover {
            transition: 0.2s;
            background-color: #07437038 !important;
        }
        &.Mui-selected {
            transition: 0.2s;
            // background: linear-gradient(117deg, #238bbe 0%, #256d90 100%);
            background-color: #0e7bb0 !important;
            color: #fff !important;
            .MuiListItemIcon-root,
            .font-italic,
            .material-icons-round {
                color: #fff !important;
            }
            .icon-arrow,
            .icon-add {
                border: 2px solid #fff;
                color: #fff;
            }
            .icon-add {
                background-color: white;
                color: #1c79be;
                border-color: white !important;
                box-shadow: none !important;
            }
        }
        .icon-arrow {
            border: 2px solid #0e7bb0;
            border-radius: 6px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 16px;
            color: #0e7bb0;
        }
        .icon-add {
            border: 2px solid #1976d2;
            border-radius: 6px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 0px;
            font-size: 16px;
            color: #fff;
            border-color: #1976d2 !important;
        }
    }
    .child-menu {
        background: rgba(255, 255, 255, 0.07); //linear-gradient(117deg, #238bbe 0%, #256d90 100%);
        border-radius: 10px;
        padding: 5px;
        padding-bottom: 20px;
        .MuiListItemButton-root {
            &.active {
                .font-italic,
                .material-icons-round {
                    color: #fff !important;
                }
                transition: 0.2s;
                background-color: #1886bc !important;
                color: #fff !important;
            }
            &:hover {
                transition: 0.2s;
                // background-color: #0e7bb0 !important;
            }
        }
    }
}
